{% extends "base.html" %}

{% block content %}
<body style="padding:5%"> 
    <center>
        <h1>Plant {{plant_crop.name}}</h1>
        <a href="{% url 'crop_index' %}">Back to Index</a>
    </center>

    <p>A plant is a specific crop you plan to plant or are tracking in your garden.</p>

    <br>
    <form method="POST">
        {% csrf_token %}
        <br>
        <strong>Crop</strong><br>
        {% if crops %}
            <div class="form-check" name="crop">
                {% for crop in crops %}
                <div class="row">
                    <div class="col">
                        {% if crop == plant_crop %}
                            <input class="form-check-input" type="radio" name="crop-id" value="{{crop.id}}" checked>{{crop.name}}</input>
                        {% else %}
                            <input class="form-check-input" type="radio" name="crop-id" value="{{crop.id}}">{{crop.name}}</input>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <i>No crops in list, please add a crop to plant it.</i>
        {% endif %}

        <br><br>

        <button class="btn btn-outline-primary" style="width:100%" type="button" data-bs-toggle="collapse" data-bs-target="#opt-plant" aria-expanded="false" aria-controls="collapseExample">
            Optional Fields
        </button>
        
        <div class="collapse" id="opt-plant">
            <br>
            
            Quantity<br>
            <div class="input-group">
                <input type="number" step="1" class="form-control" name="plant-qty" value="1"></input>
            </div>

            <br>
            <div class="row">
                <div class="col">
                    Date to Plant<br>
                    <input class="form-control" type="date" id="plant-start" name="plant-date_planted" value="{{date_planted}}">
                </div>

                <div class="col">
                    Date to Transplant<br>
                    <input class="form-control" type="date" id="plant-start" name="plant-date_to_transplant" value="{{date_to_transplant}}">
                </div>
            
                <div class="col">
                    Date to Harvest<br>
                    <input class="form-control" type="date" id="plant-end" name="plant-date_to_harvest" value="{{date_to_harvest}}">
                </div>
            </div>

            <br>
            <br><strong>Create Task?</strong> Creating a task will add dates to your calendar.<br>
            <div class="form-check" name="create_task">
                <div class="row">
                    <div class="col">
                        <input class="form-check-input" type="radio" name="create_task" value="Y">Yes</input>
                    </div>
                    <div class="col">
                        <input class="form-check-input" type="radio" name="create_task" value="N">No</input>
                    </div>
                </div>
            </div>


            <br>
            <div class="row">
                <div class="col">Source
                    <input type="text" class="form-control" name="plant-source" style="width: 100%" value="{{plant.source}}">
                </div>
            </div>
            
            
            <br>
            Location: <br>
            {% if gardens %}
            <div class="form-check" name="garden">
                    {% for garden in gardens %}
                    <div class="row">
                        {% if garden == plant.location%}
                            <div class="col">
                                <input class="form-check-input" type="radio" name="plant-location" value="{{garden.id}}" checked>{{garden.name}}</input>
                            </div>
                        {% else %}
                        <div class="col">
                            <input class="form-check-input" type="radio" name="plant-location" value="{{garden.id}}">{{garden.name}}</input>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <i>No gardens in list, please add a garden to plant in a location.</i>
            {% endif %}

            <br>
            <br>Planting Options<br>
            <div class="form-check" name="planting_op" value={{planting_op}}>
                <div class="row">
                    <div class="col">
                        {% if planting_op == "1" %}
                            <input class="form-check-input" type="radio" name="plant-planting_op" value="1" checked>Direct Sow</input>
                        {% else %}
                            <input class="form-check-input" type="radio" name="plant-planting_op" value="1">Direct Sow</input>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if planting_op == "2" %}
                            <input class="form-check-input" type="radio" name="plant-planting_op" value="2" checked>Indoor Start</input>
                        {% else %}
                            <input class="form-check-input" type="radio" name="plant-planting_op" value="2">Indoor Start</input>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>

        <br><br>
        <a class="btn btn-secondary" href="{% url 'crop_index' %}">Cancel</a>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
            
</body>
{% endblock content %}
